/* フォント・pタグ・hタグ・強調・下線・文字の大きさ・センタリング・右寄せ・インデント */
/* フォント */
:root {
  --md-text-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                         "Helvetica Neue", Arial, sans-serif,
                         "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
/* 余白 */
.base00 {
  margin: 0 !important;
}
@media screen and (max-width: 768px) {
  .base00 {
    margin: 0 !important;
  }
}
.base64 {
  margin: 0 6.4rem !important;
}
@media screen and (max-width: 768px) {
  .base64 {
    margin: 0 !important;
  }
}
.base {
  margin: 0 3.2rem !important;
}
@media screen and (max-width: 768px) {
  .base {
    margin: 0 !important;
  }
}
/* 狭い行間 */
.list {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  line-height: 1.6 !important;
}
/* 広い行間 */
.margin00 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.margin01 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.margin02 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}
.margin04 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}
.margin08 {
  margin-top: 8rem !important;
  margin-bottom: 8rem !important;
}
/* タイプセット */
/*
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
*/
.md-content p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 2.4;
  color: var(--md-typeset-color) !important;
  font-weight: 400;
}
/*
h1 {
  margin: 0 0 px2em(40px, 32px); margin: 0 0 1.25em 0; 上 右 下 左
  font-size: px2em(32px);
  font-weight: 300;
  line-height: 1.3;
  color: var(--md-default-fg-color--light);
  letter-spacing: -0.01em;
}
*/
h1 {
  font-size: 3.2em !important;
  line-height: 1.4 !important;
  margin: 0rem 0 8rem 0 !important;
  color: var(--md-typeset-color) !important;
  font-weight: 300 !important;
  }
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 2.4em !important;
  }
  }
/*
h2 {
  margin: px2em(40px, 25px) 0 px2em(16px, 25px); margin: 1.6em 0 0.64em 0;
  font-size: px2em(25px);
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: -0.01em;
}
*/
h2 {
  font-size: 1.8em !important;
  margin: 8rem 0 1.2rem 0 !important;
  line-height: 1.4 !important;
  color: var(--md-main-color) !important;
  font-weight: 500 !important;
}
@media only screen and (max-width: 767px) {
  h2 {
  font-size: 1.8em !important;
  }
  }
/*
h3 {
  margin: px2em(32px, 20px) 0 px2em(16px, 20px);
  font-size: px2em(20px);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.01em;
}
h2 + h3 {
  margin-top: px2em(16px, 20px);
}
*/
h3 {
  margin: 0 !important;
  font-size: 18px !important;
  line-height: 2.4 !important;
  color: var(--md-typeset-color) !important;
  font-weight: 700 !important;
}
h4 {
  margin: 0 !important;
  font-size: 18px !important;
  line-height: 2.4 !important;
  color: var(--md-typeset-color) !important;
  font-weight: 400 !important;
}
/* h2 + h3 {
  margin-top: 2.4rem !important;
} */
/* デフォルトの h2:after スタイル */
/* h2:after { */
/*   content: ""; */
/*   display: block; */
/*   height: 4px; */
/*   width: 100%; */
/*   background: linear-gradient(to right, var(--md-typeset-color), var(--md-typeset-bg-color)); */
/*   margin-top: 8px; */
/* }  */
/* md-post__content 内の h2 に対して h2:after を無効にする */
/* .md-post__content h2 { */
/*   margin: 0 0 1.2rem 0 !important; */
/* } */
/* .md-post__content h2:after { */
/*   content: none; /* 横線を無効化 */
/* } */
/* 強調・下線・色付け*/
u {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--md-main-color);
}
strong em {
  color: var(--md-strong-color) !important;
  font-style: normal !important;
}
strong {
  font-style: 700;
}
.kasen {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-color: var(--md-main-color);
  text-decoration-thickness: 1px;
}
.blue {
  color: var(--md-main-color) !important;
}
/* 文字の大きさ */
.large {
  font-size: 1.6em !important;
  line-height: 1.4 !important;
  font-weight: 700 !important;
}
.larger {
  font-size: 1.8em !important;
  line-height: 1.4 !important;
  font-weight: 400 !important;
}
.largest {
  font-size: 3.2em !important;
  line-height: 1.4 !important;
  font-weight: 300 !important;
}
.small {
  font-size: 16px !important;
}
.smaller {
  font-size: 14px !important;
}
.smallest {
  font-size: 12px !important;
}
/* センタリング・右寄せ */
.center {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .center {
    text-align: left;
  }
}
.right {
  text-align: right;
}
@media only screen and (max-width: 767px) {
  .right {
    text-align: left;
  }
}
/* インデント */
.doc {
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
  line-height: 2.4 !important;
  font-size: 16px !important;
  margin: 0;
  }
.idt {
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
  line-height: 2.4 !important;
  font-size: 16px !important;
  margin: 0;
  text-indent:1em;
  }
.hg-idt {
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
  line-height: 2.4 !important;
  font-size: 16px !important;
  margin: 0;
  padding-left:1em;
  text-indent:-1em;
  }
.hg-idt2 {
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
  line-height: 2.4 !important;
  font-size: 16px !important;
  margin: 0;
  padding-left:2em;
  text-indent:-2em;
  }
.hg-idt3 {
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
  line-height: 2.4 !important;
  font-size: 16px !important;
  margin: 0;
  padding-left:3em;
  text-indent:-3em;
  }
.hg-idt4 {
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
  line-height: 2.4 !important;
  font-size: 16px !important;
  margin: 0;
  padding-left:4em;
  text-indent:-4em;
  }
.hg-idt6 {
  line-height: 2.4 !important;
  font-size: 16px !important;
  margin: 0;
  padding-left:6em;
  text-indent:-6em;
  }
.pad1 {
  padding-left:1em;
  }
.pad2 {
  padding-left:2em;
  }
.pad3 {
  padding-left:3em;
  }
.pad4 {
  padding-left:4em;
  }
.pad5 {
  padding-left:5em;
  }
.pad6 {
  padding-left:6em;
  }
.pad7 {
  padding-left:7em;
  }
.pad8 {
  padding-left:8em;
  }
.pad9 {
  padding-left:9em;
  }
.pad10 {
  padding-left:10em;
  }
/* １行の文字数（トップタイトル） */
.top-title-13 {
  max-width: 13em;
  overflow-wrap: break-word;
  white-space: normal;
}
@media only screen and (max-width: 767px) {
  .top-title-13 {
    max-width: 100%;
  }
  }
.top-title-11 {
  max-width: 11em;
  overflow-wrap: break-word;
  white-space: normal;
}
@media only screen and (max-width: 767px) {
  .top-title-11 {
    max-width: 100%;
  }
  }
.top-title-9 {
  max-width: 9em;
  overflow-wrap: break-word;
  white-space: normal;
  }
@media only screen and (max-width: 767px) {
  .top-title-9 {
    max-width: 100%;
  }
  }
.top-title-7 {
  max-width: 100%;
}
@media only screen and (max-width: 767px) {
  .top-title-7 {
    max-width: 7em;
    overflow-wrap: break-word;
    white-space: normal;
  }
  }
/* １行の文字数（４０文字） */
.width-40 {
  max-width: 32rem;
  overflow-wrap: break-word;
  white-space: normal;
}
@media only screen and (max-width: 767px) {
  .width-40 {
    max-width: 100%;
  }
  }